* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: rgb(219, 245, 226);
}

form {
  width: 360px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 7rem;
  padding: 0 2rem;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.content .the-input {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #b9b8b8;
}

.the-input > div {
  position: relative;
  height: 45px;
}

.the-input > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(136, 135, 135);
  font-size: 18px;
  transition: 0.3s;
}

.the-input > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: rgb(48, 45, 45);
  font-family: sans-serif;
}

.the-input::before,
.the-input::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.the-input::before {
  right: 50%;
}

.the-input::after {
  left: 50%;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #42be32, #2dac5e, #297e42);
  background-size: 200%;
  font-size: 1.2rem;
  color: rgb(22, 22, 22);
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

.ico {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ico i {
  transition: 0.3s;
}

.the-input.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.the-input.focus > .ico > i {
  color: #38d39f;
}

/* terminos y condiciones modal */
#modal {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 1;
  height: 50vh;
  width: 50vw;
  transition: all 0.5s;
}
#modal p {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 80%;
  text-align: center;
}

#show-modal {
  display: none;
}
#show-modal + label {
  display: inline-table;
  margin: auto;
  color: #000;
  padding: 0 1em;
  font-size: 80%;
  cursor: pointer;
}
#show-modal + label:hover {
  background: #cfe2ee;
}
#show-modal:checked ~ #modal {
  top: 0;
}

#show-modal:checked ~ #close-modal + label {
  display: block;
}

#close-modal {
  display: none;
}

#close-modal + label {
  position: absolute;
  top: 1em;
  right: 12em;
  z-index: 100;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  background: rgb(248, 246, 245);
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  display: none;
  transition: all 0.5s;
}

#close-modal:checked ~ #modal {
  top: -100vh;
}

#close-modal:checked + label {
  display: none;
}

/* segunda pagina */
.panel {
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 15%;
}

.button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #42be32, #2dac5e, #297e42);
  background-size: 100%;
  font-size: 1.2rem;
  color: rgb(22, 22, 22);
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

h1 {
  margin-top: 0;
  font-size: 175%;
}


/* chat */

/* Add styles to the form container */
.form-chat {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  justify-content: center;
}

/* Full-width textarea */
.form-chat textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}

/* When the textarea gets focus, do something */
.form-chat textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-chat .btn {
  background-color: #4CAF50;
  color: rgb(22, 22, 22);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}


/* medidas*/
@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .content {
    justify-content: center;
  }
  #modal{
    font-size: 50%;
  }
  #show-modal{
    font-size: 50%;
  }
}

@media screen and (max-width: 500px) {
  form {
    width: 190px;
  }

  .content h2 {
    font-size: 1rem;
    margin: 4px 0;
  }
  #modal{
    font-size: 50%;
  }
  #show-modal{
    font-size: 50%;
  }

}

@media screen and (max-width: 200px) {
  form {
    width: 90px;
  }
  .content h2 {
    font-size: 1rem;
    margin: 4px 0;
  }
  .btn {
    font-size: 90%;
  }
  #modal{
    font-size: 50%;
  }
  #show-modal{
    font-size: 50%;
  }

}

@media screen and (max-width: 195px) {
  form {
    width: 50px;
  }
  .btn {
    font-size: 50%;
  }
  #modal{
    font-size: 50%;
  }
  #show-modal{
    font-size: 50%;
  }
}
