* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

form {
  width: 360px;
}

/* medidas*/
@media screen and (max-width: 3000px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 900px) {
}
